body{
    height: 100% !important;
    overflow: auto !important;
}

a{
    transition: all 1s;
}

a:hover{
    cursor: pointer;
}

.section-div{
    position: absolute; 
    left: 290px;
}

.products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    max-width: 80vw;
    height: auto;
}
.card{
    margin: 10px;
    width: 300px;    
}

.product-name{
    font-weight: 700;
}

.card-img img{
    width: 250px; 
    height: auto;
}

.text-dark{
    font-weight: 500;
    background-color: rgb(25, 241, 75);
    border-radius: 3px;
    padding: 3px;
}

.font-weight-bold{
    padding: 30px;
    color: red;
}

.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark{
    width:280px; 
    height: 110vh; 
    margin-top: -50px; 
    position: fixed;   
}

.nav.nav-pills.flex-colum.mb-auto{
    margin-top: 10px;
    margin-left: -10px;
}

a.nav-link.text-white{
    width: 270px; 
    padding: 10px;
}

.input-group{
    width: 100%; 
    margin: auto;
}

.form-outline{
    width: 600px; 
    margin-left: 500px; 
    margin-top: 10px;
}

.btn.btn-primary{
    margin-top: 10px;
}