body{
    height: 100% !important;
    overflow: auto !important;
}

.section-div{
    position: absolute; 
    left: 290px;
}

.products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    max-width: 80vw;
    height: auto;
}
.card{
    margin: 10px;
    width: 300px;    
}

.card-img img{
    width: 250px; 
    height: auto;
}