body{
    height: 100% !important;
    overflow: auto !important;
}

a{
    transition: all 1s;
}

a:hover{
    cursor: pointer;
}

.section-div{
    position: absolute; 
    left: 290px;
}

.card{
    margin: 10px;
    width: 300px;    
    margin-bottom: 10px !important;
}

.card-img-top{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.card-img-top img{
    height: 280px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

#divNav{
    width:280px; 
    height: 110vh; 
    margin-top: -50px; 
    position: fixed;   
}

#ul{
    margin-top: 10px;
    margin-left: -10px;
}

#divNav a{
    width: 270px; 
    padding: 10px;
}

.input-group{
    width: 100%; 
    margin: auto;
}

.form-outline{
    width: 600px; 
    margin-left: 500px; 
    margin-top: 10px;
}

.btn.btn-primary{
    margin-top: 10px;
}

@keyframes loading {
    0%{        
         transform: rotate(0deg);                    
    }
    
    50%{         
         transform: rotate(180deg);
    }

    100%{
        transform: rotate(0deg);
    }
    
}

.animation {
    width: 60%;
    height: auto;
    margin-top: 10vh;
    margin-left: 20vw;
    animation-name: loading;
    animation-duration: 4s;  
    animation-timing-function: linear;    
    animation-iteration-count: infinite;
    animation-direction: normal;                              
}

.error-div{
    width: 80%;    
    margin-top: 35vh;
    margin-left: 25vw;
    background-color: rgb(246, 240, 240);
    text-align: center;
    padding: 10%;
}
